<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Open sesame</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <script src="https://markjivko.com/dist/recorder.js"></script> -->
    <script src="../static/js/recorder.js"></script>
    <link rel="stylesheet" type="text/css" href="../static/css/index.css">
    <!-- <link rel='stylesheet' href='https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css'>     -->
  </head>
  <body>

    <div class="page-container">
      <!-- Title for page -->
      <h2 class="title">Open Sesame: A voice and speaker recognition system using machine learning</h2>
      <!-- Rest of the page -->
      <div class="mid-section">
        <!-- Left section -->
        <div id="left-section" class="left-section">
         <div class="section-container">
          <h3 class="title">Feature engineering</h3>
            <img src="../static/assets/fig_feat.png" alt="img" class="left-figure" id="left-figure">
            <p>Root mean square</p>
            <p>Log Melspectrogram/ Spectral centroid</p>
         </div>
          <div class="section-container">
            <p class="title">Machine learning framework</p>
            <img src="../static/assets/ml_transparent.png" alt="machine learning diagram" class="left-figure">
         </div>
        </div>

        <!-- Middle section -->
        <div class="middle-section">
          <div class="section-container">
            <p class ="title">Password Model</p>
           <img src="../static/assets/password_feat.png" class="infographic" id="mid-figure1" alt="">
         </div>
          <div class="section-container">
            <p class ="title">Speaker Model</p>
           <img src="../static/assets/speaker_feat.png" class="infographic" id="mid-figure2" alt="">
         </div>
        </div>

        <!-- Right section of the website -->
        <div id="right-section" class="right-section">
          <div id="mic-section" class="section-container">
            <div id="model-section">
              <div class="section-container">
                <p class="title"> Click to enter your password</p>
                <!-- <button id="recordButton" class="bi bi-mic" style="font-size:6rem"></button>  -->
                <div id="recordButton">
                  <img src="../static/assets/microphone_icon.png" alt="" style="width: 10vw;" class="effect">
                </div>
                <div id="recordingsList"></div>
                <!-- inserting these scripts at the end to be able to use all the elements in the DOM -->
              </div>
              <p id="message">Hint: password is <br>
                "open the door"</p>
            </div>
            <p>Note: Start talking as soon as <br>
              you see "Recording has started..." message
            </p>
         </div>
            <div class="section-container">
              <p class="title">
                              Made by SBME 2024 team 9

              </p>
              <p class="title" style="text-align: center;">
                 <br>
                - Ahmed Mohamed Elsarta <br>
                - Mahmod Yaser Mahmod <br>
                - Maha Medhat Fathy<br>
                - Adham Mohamed<br>
                  Supervised by: Dr/Tamer Basha
              </p>
            </div>
        </div>
        
        
      </div>
    </div>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="../static/js/audio_recording.js"></script>	 
  </body>
</html>