<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>open sesame</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://markjivko.com/dist/recorder.js"></script>
    <link rel="stylesheet" type="text/css" href="../static/css/index.css">
    <link rel='stylesheet' href='https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css'>    
  </head>
  <body>
    <div class="container">
      <img src="../static/assets/door_closed.jpg" alt="door_closed" class="door" id="door_closed">
      <img src="../static/assets/door_open.jpg" alt="door_open" class="door" id="door_open">
      <button id="recordButton" class="bi bi-mic" style="font-size:10rem"></button> 
      <ol id="recordingsList"></ol>
      <!-- inserting these scripts at the end to be able to use all the elements in the DOM -->
    </div>
    <p id="message"></p>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="../static/js/audio_recording.js"></script>	 
  </body>
</html>